body, html {
  height: 100%;
}

@font-face {
  font-family: Comic;
  src: url(../res/font/ComicNeue/ComicNeue-Bold.ttf);
}
body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  font-family: Comic;
}

.clock {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
  position: relative;
}
.clock img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.clock .hours {
  transform: rotate(-45deg);
}
.clock .minutes {
  transform: rotate(45deg);
}
.clock .seconds {
  transform: rotate(180deg);
}
.clock .tail {
  -webkit-animation: tail 1s infinite alternate ease-in-out;
          animation: tail 1s infinite alternate ease-in-out;
}

@-webkit-keyframes tail {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes tail {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
  font-size: 32px;
}
.bubble .container {
  width: 200px;
  text-align: center;
  border-radius: 320px;
  background-color: white;
  padding: 32px;
}
.bubble .tail {
  height: 24px;
}